body {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #fff;  /* Mengubah warna teks agar terlihat jelas di atas background */
}

p {
    font-size: 18px;
    color: #fff;  /* Sama dengan warna teks agar kontras dengan background */
}

.image-container {
    margin-top: 20px;
}

.image {
    max-width: 300px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.whatsapp-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #25d366;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #128c7e;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}